* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body {
	font-size:20px;
}

header {
	background: red;
	width:100%;
	height:50px;
	position:fixed;
	top:0;

}

.grid-container {
	margin-top:70px;;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 1em;;
	grid-row-gap: 1em;

}

.rect {
	background:blue;
	width:100%; 
	height:250px;
	margin:auto;
	padding:1em;
	color:white;
}

.rect .amani-content {
	opacity:0;
	transition:opacity 0.3s;
}

.rect:hover .amani-content {
	opacity:1;
}

.clicked {
	background:green;
}

.centered {
	max-width:1000px;
	margin:auto;
}

.centered p {
	margin-bottom:1em;
}



/* THIS IS THE CONTAINER FOR ALL THE FOLDER TABS */
#tabs {
	display:grid;
	grid-template-columns:repeat(4, 1fr);
	color:white;
}


	.tab {    
		padding:1em;
		border-top-left-radius:40px;
		border-top-right-radius:40px;    
		font-weight:bold;
	}

	/* THIS IS THE CONTAINER FOR ALL THE FOLDERS */
#folders {
	position:relative;
	width:100vw;
	color:white;


}

.folder {
	position:absolute;
	top:0;
	width:100vw;
	min-height:50vh;
	z-index:0;    /*  THIS PROPERTY DETERMINES WHICH  
					  ELEMENT IS VISIBILE AT THE TOP OF THE STACK  
					  FOR A CLEAR EXPLANATION SEE: 
					  https://developer.mozilla.org/en-US/docs/Web/CSS/z-index

					  this is what I'm changing with jQuery. Take a look at the script...
					  */


}




/* THIS DETERMINES THE BACKGROUND COLOR OF EACH FOLDER AND EACH TAB */
.tab1, .folder1  { background:hsl(0, 100%, 50%); }
.tab2, .folder2  { background:hsl(0, 100%, 30%); }
.tab3, .folder3  { background:hsl(0, 100%, 15%); }
.tab4, .folder4  { background:hsl(0, 100%, 0%); }