  #header {
	background-image: url("file:///Users/dima/Library/CloudStorage/OneDrive-Personal/Documents/1%20Winter23/Graphic%20Design%202/Assignment%202/Resource%20Web/images/angels.jpg");
	background-size: cover; /* Cover the entire header with the image */
	padding: 50px 10px; /* Some padding */
	color: #3255A4;
	text-align: left;
	font-size: 75px; /* Big font size */ 
	position: fixed; /* Fixed position - sit on top of the page */
	top: 0; 
	width: 100%; /* Full width */
	transition: 0.3s; /* Add a transition effect (when scrolling - and font size is decreased) */
  }
  
  #title {
	font-family: 'Comfortaa';
	color: #3255A4;
	font-weight: 400px; 
	font-size: 75px;
	float: left;
  }
  
  #subtitle {
	font-family: 'Asap';
	color: black;
	font-size: 30px;
	font-weight: 300px;
	float: left;
	clear: left;
  }  

 * {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body {
	height:auto;
	/* overflow: hidden; */
	font-size:15px;
	font-weight: lighter;
	font-family:'Asap', sans-serif;
	background-color:#FBF8F4;
}

.grid-container {
	margin-top:70px;;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 1em;;
	grid-row-gap: 1em;

}


.centered p {
	margin-bottom:1em;
}



/* THIS IS THE CONTAINER FOR ALL THE FOLDER TABS */
#tabs {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	color: black;
	margin-top: 350px; /* add this line */
  }

	.tab {    
		padding:1em;
		border-top-left-radius:40px;
		border-top-right-radius:40px;
		border-top:1px solid black;
		font-size: 20px;   
		font-weight:bold;
	}

	/* THIS IS THE CONTAINER FOR ALL THE FOLDERS */
#folders {
	position:relative;
	width:100vw;
	color:#FBF8F4;

}

.folder {
	position:absolute;
	top:0;
	width:100vw;
	min-height:100vh;
	z-index:0;    /*  THIS PROPERTY DETERMINES WHICH  
					  ELEMENT IS VISIBILE AT THE TOP OF THE STACK  
					  FOR A CLEAR EXPLANATION SEE: 
					  https://developer.mozilla.org/en-US/docs/Web/CSS/z-index

					  this is what I'm changing with jQuery. Take a look at the script...
					  */


}

/* THIS DETERMINES THE BACKGROUND COLOR OF EACH FOLDER AND EACH TAB */
.tab1, .folder1  { background:rgb(225, 90, 25); }
.tab2, .folder2  { background:rgb(220, 70, 0); }
.tab3, .folder3  { background:rgb(195, 60, 0); }
.tab4, .folder4  { background:rgb(175, 55, 0); }


.folder1 {
	z-index:10;
}
* {box-sizing: border-box}

/* Style the category */
.category {
  float: left;
  /* border: 1px solid #ccc;
  background-color: #f1f1f1; */
  
  width: 25%;
  height: 400px;
  z-index:1;
}

/* Style the buttons that are used to open the tab content */
.category button {
  display: block;
  background-color: inherit;
  color: #FBF8F4;
  font-size: 20px;
  font-weight: 400;
  font-family:'Asap', sans-serif;
  padding: 22px 16px;
  width: 100%;
  border: none;
  border-bottom:1px solid black; 
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.category button:hover {
  background-color: #FBF8F4;
  color: black;
}

/* Create an active/current "category button" class */
.category button.active {
  background-color: #3255A4;
}

/* Style the category content */
.categorycontent {
  float: left;
  padding: 1em;
  width: 75%;
  border-left: none;
  height: 300px;
  z-index:1;
}

/* h3 {
	margin-bottom:1rem;
} */

/* p {
	margin-bottom:1em;
} */

.cards {
	margin: 0 auto;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
}

.card {
	display: flex;
	align-items: flex-start;
	background: #FBF8F4;
	color: black;
	border-radius: 4px;
	border:1px solid black; 
	width: 475px;
	height: auto;
	margin: 10px auto;
	padding: 10px;
	position: sticky;
	top: 10px;
}

.last {
	width: 400px;
	height: 250px;
	background: transparent;
}

.issue-number {
	border-bottom:1px solid black;
	font-size: 20px;
	font-weight: medium;
	position: absolute;
	top: 10px;
	left: 10px;
}

.card img {
	width: 90px;
	margin-top: 30px;
	margin-right: 20px;
}

.label {
	margin-top: 10px;
	padding: 5px 10px;
	background-color: #3255A4;
	border-radius: 15px;
	border:1px solid black; 
	color:#FBF8F4;
	font-size: 12px;
	margin-right: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	background-image: url(file:///Users/dima/Library/CloudStorage/OneDrive-Personal/Documents/1%20Winter23/Graphic%20Design%202/Assignment%202/Resource%20Web/images/sebastian.jpg);
    background-size: cover;
    color: #FBF8F4;
	display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 100px 10px;
  }
  
  .footer a {
    color: #FBF8F4;
    text-decoration: underline;
  }